body {
    background-color: rgb(218, 218, 218); 
    text-align: 5px 0;
}

p {
    padding: 5px 0;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

h1 {
    text-align:center
}

div {
    text-align: center
}

a {
    color: #000; /* Link color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease, text-decoration 0.3s ease; /* Smooth transition */
    background-color: rgba(27, 7, 94, 0.199); /* Slightly dark background */
    padding: 2px 4px; /* Adds space around the text */
    border-radius: 3px; /* Rounds the edges of the box */
}

a:hover {
    background-color: rgba(0, 0, 0, 0.2); /* Darker background on hover */
    color: #fff; /* Change text color on hover */
    text-decoration: underline;
}
