/* Global Styles */
body {
    background-image: linear-gradient(to bottom right, rgba(207, 207, 207, 0.4), rgba(160, 160, 160, 0.4));
    margin: 0;
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Footer Styles */
footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 35px;
}

/* Typography */
p {
    padding: 5px 0;
    margin: 30px 50px;
    text-align: center;
    font-size: large;
}

/* Header Styles */
.header {
    background-color: rgba(66, 41, 18, 0.668);
    color: rgb(255, 255, 255);
    padding: 15px;
    margin: 0;
    text-align: center;
}

/*Headers Alligned*/
h1 {
    text-align: center;
}

/* Image Container Styles */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px;
    gap: 20px;
    text-align: center;
}

/* Add Border to the Image */
.recipe img {
    border: 5px solid rgba(66, 41, 18, 0.668);
    border-radius: 15px;
    padding: 5px;
    box-shadow: 0 6px 10px rgba(62, 37, 9, 0.568);
    max-width: 100%;
}

/* Hover Effect for Images */
.image-container img:hover {
    transform: scale(1.05);
    filter: brightness(0.7);
    transition: transform 0.5s ease, filter 0.5s ease;
}

/* List Styling */
.lists {
    text-align: center;
}

li {
    list-style-type: none;
    margin: 5px;
}

/* Footer Link Hover Effect */
footer a:hover {
    color: red;
    transition: color 0.5s ease;
}
